.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.blue{
    background: #0095ff;
}

.blue-text {
    color: blue;
}

.green{
    background: #cce779;
}

.green-color {
    color: blue;
}