.image {
  display: block;
  width: 40px;
  height: auto;
  margin: 5px auto;
  position: relative;
  transition: .5s;
}

.wrapperForImg {
  margin: 10px;
  width: 120px;
  height: 60px;
  background-color: rgb(19, 221, 164);
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px Solid rgb(206, 99, 99);
  border-radius: 15px;
}

.wrapperForButton {
  margin: 10px;
  width: 120px;
  height: 60px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px Solid rgb(197, 105, 105);
  border-radius: 15px;
  
}