

.message {
    display: flex;
    background-color: greenyellow;

}

.message h2{
    font-size: 15px;
    color: blueviolet;
}

.message img{
    margin: 0 15px 15px 15px;
    align-self: end;
    border-radius: 50%;
    height: 60px;
}

.textContent{
    background-color: black;
}

.textContent p{
    color: white;
}

.messageText{
    display: flex;
    justify-content: space-between;
}

.messageText p:last-child{
    color: wheat;
}
