.message {
    display: flex;
    align-items: flex-end;

    margin: 10px;
}

.avatar {
    height: 50px;
    width: 50px;

    border-radius: 50%;
}

.content {
    padding: 10px;

    border-radius: 5px 5px 5px 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(255, 255, 255, 0.3) 0);
}

.text {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: #bbffbb;
}

.time {
    display: flex;
    justify-content: flex-end;

    color: #bbffbb;
}

.textarea {
    margin: 10px;
    resize: none;

    background: #003300;
    color: #99ff99;
}

.textarea:focus {
    outline: #99ff99 solid 1px;
}

.input {
    display: flex;
    align-items: start;
}

.button {
    margin: 10px;

    background: #335533;
    color: #99ff99;
}

.button:focus {
    outline: #99ff99 solid 1px;
}

.button:active {
    background: #99ff99;
}
