.button {
    margin: 10px;
    width: 60px;

    background: #003300;
    color: #99ff99;
    outline: none;
}
.button:focus {
    outline: #99ff99 solid 1px;
}

.button:active {
    background: #99ff99;
}

.active {
    background: #335533;
}

.affair {
    display: flex;
}

.item {
    margin: 10px;
    width: 100px;
}

.high {
    color: red;
}

.middle {
    color: orange;
}

.low {
    color: lime;
}
