.superInput {
    width: 150px;
    background: rgb(181, 174, 201);
}

.errorInput {
    border: 2px solid black;
    background: rgb(209, 132, 132);
}

.error {
    color: red;
}

.span {
    display: block;
}

.wrapperForInput {
    height: 30px;
    margin-bottom: 10px;

}