.label {
    display: flex;
    align-items: center;

    cursor: pointer;
}

/*input[type="checkbox"] - no*/

.checkbox {
    appearance: none; /*Свойство appearance изменяет внешний вид элемента интерфейса, при сохранении его функции.
    Если задать значение none, то чекбокс пропадет, но по нему, тем не менее,
    можно щелкать и состояние чекбокса будет меняться*/

    width: 20px;
    height: 20px;

    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/

    /*background-size: 90% 90%;*/
    /*vertical-align: middle;*/
    margin-right: 10px;

    background: #335533;
}

.checkbox:checked {
    appearance: none;

    background-image: url("checked.png");
    /*background: #99ff99;*/
}

.checkbox:focus {
    outline: #99ff99 solid 1px;
}

.spanClassName {

}