.link {
    text-decoration: none;
    color: #7af;
    margin: 10px;
}

.link:hover {
    color: #c9f;
}

.active {
    color: #5ff;
}

.block {
    width: 21px;
    height: 21px;

    margin: 10px;

    background: #99ff99;
}

.header {
    display: flex;

    width: 280px;

    transition-duration: 500ms;
    transform: translate(-220px);
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0);
}